
:root {
    --primary: #f39c12;
    --bg-light: #fdfaf5;
    --text-dark: #333;
    --shadow: 0 0 9px rgba(0, 0, 0, 0.534);
}

.cashier-page {
    padding: 0 30px;
    background: #f7f7f7;
    min-height: 100vh;
    /* border: 2px solid red; */
    position: relative;
    top: 67px;
}

.cashier-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cashier-header h2 {
    font-size: 26px;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 2rem;
}

.stat-card {
    background: rgba(255, 255, 255, 0.548);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
}

.stat-card:hover{
    background: white;
    box-shadow:  0 0 9px rgba(0, 0, 0, 0.747);
}

.stat-card i { font-size: 2rem; margin-right: 15px; }
.icon-orange { color: #e67e22; }
.icon-green { color: #27ae60; }
.icon-brown { color: #a38671; }

.stat-label { 
    display: block; 
    color: #5e5e5e; 
    font-size: 1.1rem; 
    padding-left: 5px;
}
.stat-value { 
    font-size: 1.5rem; 
    font-weight: bold; 
    padding-left: 5px;
}


.stat-info{
    display: flex;
    font-size: 30px;
}

.live-badge {
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.filter-bar {
    margin: 20px 0;
}

.filter-bar button {
    padding: 8px 14px;
    border: none;
    margin-right: 10px;
    border-radius: 6px;
    background: #ddd;
    cursor: pointer;
}

.filter-bar button.active {
    background: orange;
    color: white;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-card {
    background-color: rgb(255, 254, 254);
    border-radius: 12px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    &:hover{
        background-color: rgba(224, 224, 224, 0.199);
    }
}

.order-left{
    padding: 0 8px;
    display: grid;
    /* border: 2px solid red; */
}
.order-left p{
    font-weight: bold;
    margin: 5px 0;
    font-size: 18px;
}
.order-left span{
    margin-bottom: 2px;
    font-size: 15px;
}
.order-center{
    /* border: 2px solid red; */
    text-align: center;
    position:absolute;
    left:23%;
}
.order-center span{
    padding: 3px;
}

.amount {
    font-size: 18px;
    font-weight: bold;
}

.time {
    display: block;
    font-size: 12px;
    color: gray;
    padding-left: 5px;
}

.status {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 6px;
    /* border: 2px solid red; */
}

.pending { 
    align-content: center;
    margin-left:5px;
    border-radius: 8px;
    padding: 2px 10px;
    font-weight: bold;
    background: orange;
}

.confirmed { 
    align-content: center;
    margin-left:5px;
    border-radius: 8px;
    padding: 2px 10px;
    font-weight: bold;
    background: blue; 
}

.preparing { 
    align-content: center;
    margin-left:5px;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    background: purple; 
}

.ready { 
    align-content: center;
    margin-left:5px;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    background: teal; 
}

.delivered { 
    align-content: center;
    margin-left:5px;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    background: green; 
}

.cancelled { 
    align-content: center;
    margin-left:5px;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    background: red; 
}

.order-right {
    text-align: right;
    /* border: 2px solid red; */
    position: absolute;
    right:20px;
}

.order-right option{
    border: 2px solid red;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
}

.no-orders {
    text-align: center;
    color: gray;
}

/*
.container { 
    width: 90%; 
    max-width: 1300px; 
    margin: 2rem auto; 
    margin-top: 8%;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 2rem;
}

.stat-card {
    background: rgba(255, 255, 255, 0.548);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
}

.stat-card:hover{
    background: white;
    box-shadow:  0 0 9px rgba(0, 0, 0, 0.747);
}

.stat-card i { font-size: 2rem; margin-right: 15px; }
.icon-orange { color: #e67e22; }
.icon-green { color: #27ae60; }
.icon-brown { color: #a38671; }

.stat-label { 
    display: block; 
    color: #5e5e5e; 
    font-size: 1.1rem; 
    padding-left: 5px;
}
.stat-value { 
    font-size: 1.5rem; 
    font-weight: bold; 
    padding-left: 5px;
}


.stat-info{
    display: flex;
    font-size: 30px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.tab-link {
    background: none; border: none; padding: 10px 20px;
    cursor: pointer; font-size: 1rem; color: #777;
}

.tab-link.active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.add-item-btn {
    background: #e67e22; color: white; border: none;
    padding: 8px 20px; border-radius: 5px; cursor: pointer;
}


.modal {
    display: none; position: fixed; z-index: 100;
    left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white; margin: 5% auto;
    padding: 25px; border-radius: 15px; width: 400px;
}

.form-group { margin-bottom: 15px; }
.form-group label { display: block; margin-bottom: 5px; font-weight: 500; }
.form-group input, .form-group textarea, .form-group select {
    width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 8px;
}

.submit-btn {
    width: 100%; padding: 12px; background: #e67e22;
    color: white; border: none; border-radius: 8px; cursor: pointer;
}

.tab-content { display: none; }
.tab-content.active { display: block; }
.empty-state { text-align: center; padding: 50px; color: #999; }

table{
    width: 100%;
}
thead tr th{
    background-color: #000000;
    padding: 10px;
    color:white;
    border: 2px solid red;
}
td{
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
} */
