
.main_container{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
/* Form Container */
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 10px 10px rgba(0, 0, 0, 0.315);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 30px;
}

/* Input Fields */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
    font-size: 0.85rem;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4a90e2;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #357abd;
}

/* Footer Link */
.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-footer a {
    color: #4a90e2;
    text-decoration: none;
    font-size: 0.85rem;
}

.form-footer a:hover {
    text-decoration: underline;
}

.error_message{
    display: flex;
    justify-content: center;
}

.error_message p{
    display: inline-block;
    border: 2px solid red;
    margin: 2px;
    padding: 3px;
    font-size: 19px;
    color: red;
    font-weight: bold;
}