{% extends "main/home.html" %}
{% load static %}

{% block title %}
<title>Invoice #{{ order.id }} - Savoria</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'orders/bill.css' %}">
{% endblock style %}

{% block content %}
<div class="bill-wrapper">
    <div class="bill-card">
        
        <div class="bill-header">
            <div>
                <h1 class="brand-name">Shree Ram</h1>
                <div class="order-meta">
                    <p><strong>Order ID:</strong> #{{ order.id }}</p>
                    <p><strong>Date:</strong> {{ order.created_at|date:"M d, Y | h:i A"}}</p>
                    <p><strong>Customer:</strong> {{ order.customer_name|default:"Guest Customer" }}</p>
                </div>
            </div>
            <span class="status-badge">Confirmed</span>
        </div>

        <div class="item-list">
            <div class="item-row item-header">
                <span>Item</span>
                <span style="text-align: center;">Qty</span>
                <span style="text-align: right;">Total</span>
            </div>

            {% for item in order.items.all %}
                <div class="item-row">
                    <div class="item-details">
                        <div class="item-name">{{ item.item_name }}</div>
                        <small style="color: #b2bec3;">₹{{ item.price }} per unit</small>
                    </div>
                    <div class="item-qty">× {{ item.quantity }}</div>
                    <div class="item-total">₹{{ item.get_total }}</div>
                </div>
                {% endfor %}

        </div>

        <div class="bill-footer">
            <span class="grand-total-label">Total Payable</span>
            <span class="grand-total-amount">₹{{ order.total_amount }}</span>
        </div>
        {% if order.status == "PAID" %}
            <div class="payment_success">
                <label for="payment status">Payment Status</label>
                <span style="color:green">Payment Successful Done</span>
            </div>
        {% else %}
            <div class="payment_success">
                <label for="payment status">Payment Status</label>
                <span style="color:green">Payment Pending</span>
            </div>
        {% endif %}


        <div class="actions">
            <a href="/" class="btn-back">🔙 Back to Menu</a>
        </div>
        <a href="/bill/pdf/{{ order.id }}/" class="pdf">
            📄 Download PDF
        </a>

    </div>
</div>
{% endblock content %}